/** 
   Style du site d'hebergement Booki
*/
/* ======================IMPORTATION DE LA POLICE DU SITE========================= */

/* =================== STYLE GENERAL ============================================ */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,200&display=swap');
    
html{
        box-sizing: border-box;
        font-family: sans-serif;
}
    
*, *::before, *::after{
        box-sizing: inherit;
}

body{
         margin: 0;
        font-family: 'Raleway', sans-serif;
}

.main{
        margin: 0px 30px 0px 30px;
}

img {
        object-fit: cover;
        object-position: center;
} 

    /* ================================== HEADER ========================================== */
.entete{
        position: relative;
}

.header{
        display: flex;
        justify-content: space-between;
        padding:0;
}

.header-logo{
        justify-content: center;
        width: 25%; 
}

.header-logo img{
        width: 50%; 
        object-fit: fill;
        object-position: center;
}

.headers-nav{
       width: 30%;
       display: flex;
       align-items: center;
       justify-content: end;
}

.nav-hebergement{
        color: #0065FC;
        border-top: 2px solid #0065FC;
        padding: 30px 20px 30px 20px;
}

.nav-activite{
        color: #1c1d20;
        padding: 30px 20px 30px 20px;
}

.nav-activite:hover{
        color: #0065FC;
        border-top: 2px solid #0065FC;
}

.headers-nav a{
        font-weight: 400;
        text-decoration: none;
}

.info-card h1{
      font-size: 20px;  
      margin: 0 0 5px 0;
      padding: 0;
}

.info-card P{
        padding: 0;
        margin: 0 0 20px 0;
        font-size: 16px;  
}

.search{
        height: 50px;
}
    
.hedear-search{
        display: flex;
        /* background-color: #000102; */
}

.input-search{
        margin-right: 0;
        font-size: 14px;
        height: 45px;
        border-left:1px solid #F2F2F2; ;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        width: 25%;
        font-weight: bold;
      
        
}

.input-search::placeholder{
       color: #000102;
       font-weight: bold;
       padding-left: 10px;
       font-size: 16px;
}
    
.input-search:focus{
        box-shadow: 5px 3px 5px -2px rgba(91, 150, 246, 0.5); 
}

.search-button i{ 
        opacity: 0;
}

.img-flex{
        width: 100%;
        height: 100px;
}

.hedear-search span {
        height: 200px;
        width: 500px;
} 

.filtres{
        font-size: 14px;
        font-weight: bold;
        margin: 10px 25px 25px 0;
        width: 65%;
        /* border: 3px solid #000; */
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}
    
.common-filter{ 
        margin-top: 15px;
        height: 45px;
        font-size: 14px;
        font-weight: bold;
        display: flex;
        padding-top: 0px;
        width: 200px;
        margin-right: 10px;
        justify-content: space-between;
        border: 3px solid #F2F2F2;
        border-radius: 22px;
}

.filtre-title{
        width: 75px;
        border: 0;
}

.filtre{
        margin-top: 25px;
        margin-right: 10px;
        font-size: 16px;
        font-weight: bold;
        align-content: center;
        text-align: start;
}

.common-filter span{
        height: 100%;
        padding-top: 7px;
        font-size: 22px;
        text-align: center;
        border: 1px solid #DEEBFF;
        margin-left: -4px;
        border-radius: 50%;
        width: 40px;
        color: #0065FC;
        background: #DEEBFF;    
} 
 
.common{
        font-size: 16px;
        font-weight: bold;
        padding-top: 10px;
        width: 70%;
        font-size: 16px;
        font-weight: bold;
        text-align: start;
    }
   
.common-filter .animal{
        width: 150px;
        padding-left: 0px;
}

.filtres .filter-familial{
     width:120px ;
}

.filter-familial div{
     text-align: center;
    
}

.filter-economique{
    width:160px ;
}

.filter-romantique{
    width:160px ;
}

.infos{
        display: flex;
        margin:20px 0;
}

.common-filter:hover{
        cursor: pointer;
        background-color: #0065FC;
        color:#FFFFFF;
        border-radius: 20px;
        box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.5); 
}

.common-filter:hover span{
        cursor: pointer;
        color:#FFFFFF;
        padding-bottom: 15px;
        /* border-radius: 15px; */
}

.common-filter:hover span i{
        color:#FFFFFF;
        padding-bottom: 15px;
        /* border-radius: 15px; */
}

.info-icon{
        color: #0065FC;
        border: 2px solid #DEEBFF;
        width:30px ;
        /* background-color: #665e5e; */
        margin-right: 10px;
        padding-top: 3px;
        text-align: center;
        height: 30px;
        border-radius: 50%;
}

.info-title{
        padding-top: 8px;
        height: 30px;
        font-size: 15px;
        display: inline-block;
        text-align: center;
}
    
    /* =========================== Hebergement======================== */
    
    /* ============================== Marseille ============================ */
.main-hebergements{
        display: flex;
        flex-wrap: wrap;
        flex-direction:row ;
        /* background-color: #000; */
        justify-content: space-between;
} 
    
.hebergement-contain{
        border-radius: 15px;
        padding:15px 20px 15px 20px;
        width: 65%;
        background-color: #F2F2F2;
         /* background-color: #b62020;  */
}

.hebergement-title{
       padding-left:25px;
       font-size: 18px;
       font-weight: bold;
} 

.data{
        background: #FFFFFF;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
}

.datas{
        height: 100px;
        background: #FFFFFF;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
}

.data h2,
.datas h2{
        margin:0 5px ;
        font-size:14px;
        padding-top:5px;
        padding-left:5px;
}

.data p,
.datas p{
        margin:0 5px ;
        font-size: 14px;
        padding-top: 5px;
        padding-left: 5px;
}
    
.data span,
.datas span{
        font-weight: bold;
        font-size: 14px;
        padding: 5px 0 10px 10px;
        color: #0065FC;
}

.data .symbole-euro,
.datas .symbole-euro{
        margin-left: -10px;
        color: #020407;
}

.section-hebergement-card{
        opacity: 0.8;
        padding: 5px;
        width: 33%;
        margin:10px 10px;
        background-color: #FFFFFF;
        border-radius: 10px;
        flex-basis: 30%;
        height: 190px;
        box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.25);
}

.section-hebergement-card:hover,
.section-popularite-card:hover, 
.port:hover, 
.fort:hover,
.iles:hover,
.parc:hover,
.dame:hover{
          opacity: 1;
          transform: scale(1.05);
          transition: 0.6s ease-in-out ;
          box-shadow: 3px 3px 13px -2px rgba(0,0,0,1);
}

.section-hebergement-card img{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
}

.data .decoche{
        color: #F2F2F2;
}

.datas .pad{
        display: block;
        padding-top: 25%;
}

.datas .decoche{
        color: #F2F2F2;
}

.plus-img{
        padding: 30px 0 0 15px;
        font-weight: bold;
        text-decoration: none;
        color: #000;
}
    
.section-hebergement{
        border-radius: 15px;
        justify-content: space-evenly;
        display: flex;
        align-content: center;
        flex-flow: row wrap;
        margin-bottom: 15px;
}
   
.info{
        color: #0065FC;
        background: #DEEBFF;
        border-radius:50%;
        width:35px;
        height:35px;
        border:2px solid #F2F2F2;
        text-align: center;
        padding-top: 5px;
}

.popularite-container{
        width: 33%;
        height: auto;
        padding:15px 20px 15px 20px;
        border-radius: 15px;
        background-color: #F2F2F2;
        /* background-color: #0a65ef; */
}
    
.popularite-title-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 5px;
        padding: 0 10px 0 10px;
}

.popularite-title-icon i{
        width: 10px;
        font-size: 18px;
        padding: 15px 20px 10px 10px;
}
    
.section-populaire-title{
        margin: 14px 0 14px 0;
        font-size: 18px;
        padding-left: 0;
        /* background-color: #0065FC; */
}
        
.section-populaire{
        width: 100%;
        height: 90%; 
        display: flex;
        flex-direction: column;
        padding: 10px 10px 0px 10px;
        justify-content: space-around;
} 

.section-populaire-title i{
        margin-left: 100px;
}

.section-popularite-card{
            display: flex;
            height: 30%;
            margin: 10px 0 10px 0;
            padding: 5px;
            background-color: #FFFFFF;
            border-radius: 15px;
            box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.25);
}

.section-popularite-card img{
        width: 40%;
        height: 100%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
}
    
.section-popularite-card .datas{
        display: inline-block;
        width: 60%;
}

.section-popularite-card .data p{
        font-size: 12px;
}

.section-popularite-card .data h2{
        font-size: 14px;
        margin: 0px;
}
    
    /* ===============================================FOOTER========================================== */
    
    
.activite-contain{
        display: flex;
        justify-content: space-between;
        margin-bottom:10px;
}

.section-activite{
        display: flex;
        justify-content: space-around;
        /* border: 2px solid #0065FC ; */
        width: 50%;
}

.activites{
        height: 100px;
        width: 100px;
}

.element{
        flex: 1;
}

.autre{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}
        
    /*
          SECTION ACTIVITE 
    */

.main-activite{
        margin-top: 30px;
        margin-bottom: 30px;
        height: 300px;
        display: flex;
        align-items: center;
}

.left-section{
        display: flex;
        height: 300px;
        width: 50%;
}

.right-section{
        display: flex;
        height: 300px;
        width: 50%;
    
}
    
.left-section-items{
        box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.76);
        height: 100%;
        width: 45%;
        border-radius: 30px;
        margin-left:15px ;
}
    
.left-section-items div{
        height: 100%;
}

.left-section-items div div{
        height: 85%;
        margin: 0;
}

.right-section-items{
        box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.76);
        border-radius: 30px;
        height: 100%;
        margin-left:15px ;
        width: 45%;
}
    
.container-img{
        height: 50%;
        border-radius: 27px;
}

.flex-img{
        width: 100%;
        height: 100%;
        margin: 0;
 }

.pomegue{
        height: 85%;
}

.container-pomegue{
        height: 98%;
}

.container-frioul{
        height: 98%;
}
    
.frioul{
        height: 85%;
}
    
.card-footer{
        height: 15%;
        margin-top: 0;
        background-color: #FFF;
        padding: 5px 0px 5px 5px;
        font-size: 14px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
}

.right-section-items:first-child{
        height: 10%;
} 

.activite-border-radus{
    border-radius: 20px;
    box-shadow: 3px 3px 13px -2px rgba(251, 248, 248, 0.76);
    overflow: hidden;
    /* background-color: #4feb11*/
} 

.activitess{
    /* margin-top: 20px; */
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* overflow: scroll; */
}

.port{
    box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.76);
    width: 22%;
    margin: 0px 0px 0px 0px;
}

.port-footer{
    padding: 13px 0 0px 10px;
    font-size: 14px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    /* background: #269999; */
    height: 46px;
    /* border: 3px solid #e1f5e6; */
}

.port-img-container{
     height: 87%; 
    width: 100%;
    /* background-color: #17e010; */
 }

.fort-pomegue-iles{
       width: 22%;
       margin: 0px 0px 0px 0px;
  }

.fort{
    box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.76);
    margin-bottom: 44px;
}

.fort-footer{
    padding: 10px 0 0px 10px;
    font-size: 14px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    /* background: #54cfcf; */
    height: auto;
    /* border: 3px solid #e1f5e6; */
} 

.iles{
    box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.76);
    /* height: 165px; */
     height: 135px; 
    /* border: 3px solid #aba5a8; */
}

.iles-img-container{
    height: 89px;
}

.iles-footer{
    padding: 13px 0 0px 10px;
    font-size: 14px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    /* background: #269999; */
    height: 46px;
    /* border: 3px solid #e1f5e6; */
}

.dame{
    box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.76);
    margin-bottom: 41px;
    height: 145px;
    /* height: 195px; */
    /* border: 3px solid #caff58; */
}

.dame-img-container{
    /* background: #596665; */
    /* border: 3px solid #111512; */
    height: 99px;
    /* height: 139px; */
}

.dame-footer{
    padding: 10px 0 0px 10px;
    font-size: 14px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    /* background: #269999; */
    height: auto;
    /* border: 3px solid #e1f5e6; */
}

.parc{
    box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.76);
    height: 159px;
    /* height: 209px; */
    /* border: 3px solid #aba5a8; */
}
.parc-img-container{
    /* background: #596665; */
    /* border: 3px solid #111512; */
    height: 113px;
}

.parc-footer{
    padding: 15px 0 0px 10px;
    font-size: 14px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    /* background: #269999; */
    height: 46px;
    /* border: 3px solid #e1f5e6; */
}

.notre-dame-parc-long{
    width: 22%;
    margin: 0px 0px 0px 0px;
}

.footer{
        margin-top: 30px;
        background: #F2F2F2;
        height: auto;
        width: 100%;
        /* border: 5px solid #050a12; */
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        padding-bottom:10px ;
}

.footer h3{
        margin: 20px 0 10px 0;
}

.footer div{
        margin-bottom: 20px ;
}

.footer-apropos{
        font-size: 15px;
        width: 30%;
        /* margin-right:30% ;*/
        margin-left: 30px; 
        height: auto;
        /* border: 5px solid #0065FC; */  
}

.footer-hébergements{
        font-size: 15px;
        /* margin-right:300px ; */
        width: 30%;
        height: auto;
        /* border: 5px solid #00fc3b;
  */
    }
    .footer-assistance{
        font-size: 15px;
        width: 30%;
        height: auto;
       /* border: 5px solid #ee0860;  */
}

    /* ================================== HEADER ========================================== */
    
.header-logo img{
        object-fit: fill;
        object-position: center; 
}

.headers-nav a{
        font-weight: 400;
        text-decoration: none;
}
.info-card h1{
      font-size: 20px;  
      margin: 0 0 5px 0;
      padding: 0;
}

.info-card P{
        padding: 0;
        margin: 0 0 20px 0;
        font-size: 16px;  
        /* background-color: #de1a1a; */
}

.search{
        height: 50px;
}
    
.hedear-search{
        display: flex;
}

.localisation-icon{
        background-color: #F2F2F2;
        width: 45px;
        height: 45px;
        padding-left: 20px;
        padding-top: 15px;
        border-top-left-radius:10px ;
        border-bottom-left-radius: 10px;
}
    
.input-search{
        margin-right: 0;
        font-size: 14px;
        border-left:1px solid #F2F2F2; ;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        width: 250px;
        font-weight: bold;
        
}

.input-search::placeholder{
       color: #000102;
       font-weight: bold;
       padding-left: 10px;
       font-size: 16px;

}

.search-button{ 
        height: 45px;
        font-size: 12px;
        margin-left: -6px;
        padding-right: 15px;
        font-weight: bold;
        background: #0065FC;
        color: #FFFFFF;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 0px;
        background-image:linear-gradient(to right, transparent 50%, #150909 50%,#1c2020 ) ;
        background-size: 200%;
        transition: .4s;
}

.search-button:hover{
        cursor: pointer;
        background-position: 100%;
        color: #fcfcfd;
        font-weight: bold;
}

.search-button i{ 
        opacity: 0;
}

.hedear-search{
     padding: 0px;
}

.hedear-search span{
        height: 200px;
        width: 200px;
}    
  
.infos{
        display: flex;
        margin:20px 0;
}

.info-icon{
        color: #0065FC;
        border: 2px solid #DEEBFF;
        width:30px ;
        /* background-color: #665e5e; */
        margin-right: 10px;
        padding-top: 3px;
        text-align: center;
        height: 30px;
        border-radius: 50%;
         /* clip-path:ellipse(50% 50%);  */
}

.info-title{
        padding-top: 8px;
        height: 30px;
        /* background-color: #0065FC; */
        /* background: #28dcca; */
        font-size: 15px;
        display: inline-block;
        text-align: center;
}
    /* ============================== Marseille ============================ */
.data h2{
        margin:0 5px ;
        font-size:14px;
        padding-top:5px;
        padding-left:5px;
}

.data p{
        margin:0 5px ;
        font-size: 14px;
        padding-top: 5px;
        padding-left: 5px;
    }
    
.data span{
        /* margin:0 0 0 5px ; */
        font-weight: bold;
        font-size: 14px;
        padding: 5px 0 10px 10px;
        color: #0065FC;
}

.card-star i{
        padding-bottom:5px;
        color: #0065FC;
        font-size: 12px;
}

.popularite-title-container{
        /* border:2px solid #4feb11; */
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 5px;
        padding: 0 10px 0 10px;
        /* margin:30px 10px 20px 10px; */
}

.popularite-title-icon i{
        width: 10px;
        font-size: 18px;
        /* background-color: #fc00d2; */
        padding: 15px 20px 10px 10px;
}
    
.section-populaire-title{
        margin: 14px 0 14px 0;
        font-size: 18px;
        padding-left: 0;
        /* background-color: #0065FC; */
}

.section-populaire-title i{
        margin-left: 100px;
}
    /* ===============================================FOOTER========================================== */
    
    
.activite-contain{
        display: flex;
        justify-content: space-between;
        margin-bottom:10px;
}

.section-activite{
        display: flex;
        justify-content: space-around;
        /* border: 2px solid #0065FC ; */
        width: 50%;
}

.activites{
        height: 100px;
        width: 100px;
}

.element{
        flex: 1;
}

.autre{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}
    
    /*
          SECTION ACTIVITE 
    */
.main-activite{
        margin-top: 30px;
        margin-bottom: 30px;
        height: 300px;
        display: flex;
        align-items: center;
}

.left-section{
        display: flex;
        height: 300px;
        width: 50%;
}

.right-section{
        display: flex;
        height: 300px;
        width: 50%;
}
    
.left-section-items{
        box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.40);
        height: 100%;
        width: 45%;
        border-radius: 30px;
        margin-left:15px ;
}
    
.left-section-items div{
        height: 100%;
}

.left-section-items div div{
        height: 85%;
        margin: 0;
}

.right-section-items{
        box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.40);
        border-radius: 30px;
        height: 100%;
        margin-left:15px ;
        width: 45%;
}
    
.container-img{
        height: 50%;
        border-radius: 27px;
}

.flex-img{
        width: 100%;
        height: 100%;
        margin: 0;
}

.pomegue{
        height: 85%;
}

.container-pomegue{
        height: 98%;
}

.container-frioul{
        height: 98%;
}

.frioul{
        height: 85%;
}
    
.card-footer{
        height: 15%;
        margin-top: 0;
        background-color: #FFF;
        padding: 5px 0px 5px 5px;
        font-size: 14px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
}

.right-section-items:first-child{
        height: 10%;
}

.big-title-activite{
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.port-footer{
    padding: 10px 0 0px 10px;
    font-size: 14px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
}

.fort{
    box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.40);
    margin-bottom: 44px;
    height: 165px; 
}

.fort-img-container{
    height: 119px;
}

.iles{
    box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.40);
     height: 135px; 
}

.iles-frioul{
    width: 22%;
}

.iles-img-container{
        height: 89px;
}
.iles-footer{
    padding: 13px 0 0px 10px;
    font-size: 14px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    /* background: #269999; */
    height: 46px;
    /* border: 3px solid #e1f5e6; */
}
.dame{
    box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.40);
    margin-bottom: 41px;
    height: 145px;
    /* height: 195px; */
    /* border: 3px solid #caff58; */
}

.dame-img-container{
      height: 99px;
}

.parc{
    box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.40);
    height: 159px;
    /* height: 209px; */
    /* border: 3px solid #aba5a8; */
}
.parc-img-container{
    height: 113px;
}
.parc-footer{
    padding: 15px 0 0px 10px;
    font-size: 14px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 0;
    /* background: #269999; */
    height: 46px;
    /* border: 3px solid #e1f5e6; */
}

@media screen and (min-width: 768px) and (max-width: 992px) {
     .img-flex{
        width: 100%;
        height: 100px;
    }
     .filtres{
        width: 100%; 
    }
    .main-hebergements{
        flex-direction:column-reverse;
    }
   .hebergement-title {
    padding-left: 15px;
    }
    .hebergement-contain{
        width: 100%;
    }
    .popularite-container{
        width: 100%; 
        margin-bottom: 20px;
    }
    .section-populaire{
        justify-content: space-between;
        flex-direction: row;
        margin: 0 10px 0 10Px;
        height: 40%;
    } 
    .section-popularite-card{
        margin: 0;
        width: 32%;
        height:150px; 
        padding: 5px;
        background-color: #FFFFFF;
        border-radius: 15px;
    }
    .section-popularite-card .datas{
        box-shadow: none;
    }
    .plus-img{
        padding-left: 15px;
    }
    .port{
        width: 48%;
    }
    .fort-pomegue-iles{
        width: 48%;
        margin: 0px 0px 0px 0px;
    }
   .notre-dame-parc-long{
    width: 48%;
    margin: 0px 0px 0px 0px;
   }
   .tab-actif{
    margin: 40px 0px 0px 0px;
   }
}


@media screen and (max-width: 768px) {
    
    .header{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /* border: 3px solid #000; */
    }

    .header-logo{
        display: flex;
        justify-content: center;
        width: 50%; 
        /* border: 5px solid #020407; */
        align-items: center;
    }
    .header-logo img{
        width: 100%; 
        object-fit: fill;
        object-position: center;
        /* border: 5px solid #0a65ef; */
    }
    .headers-nav{
       width: 100%;
       align-items: center;
      justify-content: space-between;
       /* border: 1px solid #f518b6; */
       /* background-color: #f21111; */
    }
    .nav-hebergement{
        /* background-color: #f21111;  */
         text-align: center;
         color: #0065FC;
         border-top:none;
         width: 50%;
         border-bottom:3px solid #0a65ef;
         padding: 20px 20px 15px 20px;
     }
     .nav-activite{
        color: #020509;
        text-align: center;
        width: 50%;
        border-bottom: 3px solid #DEEBFF;
        padding: 20px 20px 15px 20px;
     }
     .nav-activite:hover{
        color: #0065FC;
        border-bottom: 3px solid #0065FC;
        border-top: none;
     }
     .info-card h1{
        text-align: start;
        font-size: 20px;  
        padding-bottom: 10px;
        margin: 30px 0 5px 0;
      }
      .info-card p{ 
        padding-bottom: 20px;
        margin: 15px 0 5px 0;
      }
      .search-button{ 
       width: 15%;
       
    }
    .search{
        display: flex;
        width: 90%;
        /* background-color:#0a65ef ; */
    }
    .input-search{
        width: 85%;
        padding-top: 5px;
    }
    .localisation-icon{
       width: 10%;
       font-size: 25px;
       padding:8px 0 0 12px;

    }
      .search-button span{ 
        opacity: 0;
    }
    .search-button{ 
        height: 45px;
        font-size: 12px;
        margin-left: -10px;
        padding-right: 15px;
        background: #0065FC;
        color: #FFFFFF;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 0px;
        background-image:linear-gradient(to right, transparent 50%, #150909 50%,#1c2020 ) ;
        background-size: 200%;
        transition: .4s;
    }

     .search-button i{ 
        padding: 10px 0 0 10px;
        font-size: 25px;
        /* background-color: #a62323; */
        opacity: 1;
    }
    .filtres{
        width: 100%;
        /* background-color:#C72222; */
        justify-content: start;
        margin: 20px 0 0 0;
    }
    .filtre-title{
        font-size: 18px;
        width: 100%;
        /* background-color: #b832e0; */
    }
    .common-filter{ 
        /* height: 45px; */
        /* font-size: 14px; */
        /* font-weight: bold; */
        display: flex;
        /* padding-top: 0px; */
        width: 200px;
        margin: 5px 10px 5px 0;
        justify-content: space-between;
        border: 3px solid #F2F2F2;
        border-radius: 20px;
        /* background: #4feb11; */
    }

    .filtre{
        font-size: 16px;
        width: 100px;
    } 
      .main-hebergements{
            flex-direction: column-reverse;
      }
     .hebergement-contain{
       width: 100%;
       background-color: #FFFFFF;
       padding: 0;
    } 
    .section-hebergement-card{
        width: 100%;
    }
    .section-hebergement{
         border-radius: 15px;
         justify-content: space-evenly;
         display: flex;
         align-content: center;
         flex-flow: row wrap;
         margin-bottom: 15px;
         flex-direction: column-reverse;
     }
    .hebergement-title{
        padding-left:5px;
     }
     .plus-img{
        padding-left: 3px;
    }
     .popularite-title-container{
        padding: 0 2px 0 3px;
    }
    .section-popularite-card .datas{
        display: inline-block;
        width: 60%;
        height:auto;
    }

    .section-popularite-card{
        height:150px; 
        box-shadow: 3px 3px 13px -2px rgba(0,0,0,0.76); 
    }

     .popularite-container{
        padding: 0;
        margin-bottom: 10px;
        width: 100%;
        background-color: #FFFFFF;
     }

     .section-populaire{
        border-radius: 15px;
     }
     .activitess{
        width: 100%;
        /* background-color: #0a65ef; */
        flex-wrap: wrap;
        justify-content: space-around;
     }

.activitess .port{
   margin: 40px 0 40px 0; 

}

    .port{
        height: 180px;
        width: 100%;
    }
     .commun-phone{
        width: 100%;
     }
     .fort-pomegue-iles,.notre-dame-parc-long{
        width: 100%;
     }

.iles-frioul,
.iles,
.fort-pomegue-iles,
.port{
        margin: 5px 0;
}

.port-img-container{
        width: 100%;
        height: 75%; 
}

.footer{
        margin-top:30px ;
}

     .footer-apropos{
        width: 100%;
    }

    .footer-hébergements{
        width: 100%;
        margin-left:30px ;
    }

    .footer-assistance{
        width: 100%;
        margin-left:30px ;
    }
  }