/** 
   Style du site d'hebergement Booki
*/
html{
        box-sizing: border-box;
        font-family: sans-serif;
    }
    
    *, *::before, *::after{
        box-sizing: inherit;
    }
    img-flex{
        display: block;
    }
    body{
        margin: 20px;
        background: #FFFFFF;
    }
    .header{
        display: flex;
    }
    .header-nav{
        display: flex;
    }
    .herder-nav .hebergement{
        color: #0065FC;
    }
    .header-nav p{
        margin: 10px;
        border:2px solid #F2F2F2;
        border-radius: 20px;
        padding:10px ;
        font-weight: bold;
    }
    .input-search{
        margin: 0;
    }
    .search-button{
        color: #FFFFFF;
        font-weight: bold;
        background: #0065FC;
        padding: 10px;
        border: 0;
        border-radius: 0px 10px 10px 0px ;
        margin: 0;
    }
    
    .info{
        color: #0065FC;
        background: #DEEBFF;
        border-radius:50%;
        width:20px;
        height:20px;
        border:2px solid #F2F2F2;
        text-align: center;
        padding-top: 5px;
    }
    
    .main-hebergements{
        border: 5px solid #DDDDAA;
        display: flex;
    }
    .section-hebergement{
        border: 3px solid aqua;
        background: #F2F2F2;
        width: 75%;
        height: auto;
        display: flex;
        justify-content: space-around;
        flex-flow: row wrap;
    }
    
    .section-hebergement-card{
        display: flex;
        padding: 10px;
        margin: 2%;
        border-radius: 10PX;
        border: 1px solid #CCC;
        height: auto;
        border: 1px solid darkred;
    }
    
    .card-star{
        color: #0065FC;
    }
    .section-populaire{
        border: 3px solid aqua;
        background: #F2F2F2;
        width: 25%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }
    .section-populaire p{
        display: flex;
        justify-content: space-around;
    }
    section-populaire-title{
        border: 3px solid yellow;
        color: #0065FC;
    }
    .footer{
        background: #F2F2F2;
        display: flex;
        justify-content:space-around ;
        margin:auto;
    }